*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-size: 62.5%;
}

.promptDiv {
	padding-top: 5rem;
	text-align: center;
	font-family: 'Courier New', monospace;
	color: black;
	background-color: thistle;
	margin-right: -1rem;
	margin-left: -1rem;
	margin-top: -2.3rem;

}
.cursor-centre{ text-align: center; }
.writting h1{ font-size: 5rem; }
.writting p{ font-size: 2.25rem; padding-top: 3rem; }

#ImagineAnImage{
	padding-top: 3rem;
	margin-bottom: 2rem;
	font-size: 2.5rem;
}

h2 { font-family: 'Courier New', monospace; }
body { background-color: #d8bfd8; }

#promptInput {
	background: #252527;
	border-style: solid;
	font-size: 1.5rem;
	height: 3.5rem;
	width: 40vw;
	margin-bottom: 2em;
	color: #fff;
	border-radius: 2rem;
	color: rgb(89, 237, 89);
}
#promptInput::placeholder{ font-size:1.5rem; background-color: (62, 238, 62, 0.563); }

.startCreating:link, .startCreating:visited{
	color: #fff;
	font-size: 1.5rem;
	display: inline-block;
	text-decoration: none;
	margin-top: 2rem;
	padding: 2rem 2rem;
	background-color: rgba(124, 122, 122, 0.533);
	
	border-radius: 10rem;
	font-weight: bold;
	transition: all 0.4s;
}

.startCreating:hover, .startCreating:active{
	background-color: rgba(62, 238, 62, 0.563);
	color: #fff;
}

.heroSection{
	height: 100vh;
	width: 100vw;
	background-image: url('../Image/robot-spec-ops-soldier-black-steel-purple-glow-trending.webp');
	background-size: cover;

	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	color: #fff;

	text-align: center;
	font-family: 'Orbitron', sans-serif;
	letter-spacing: 0.15rem;
}

.generateButton {
	background-color: rgba(124, 122, 122, 0.85);
	color: #fff;
	height: 3.5rem;
	width: 15rem;
	font-family: 'Courier New', monospace;
	font-size: 20px;
	margin-bottom: 2em;
	border-style: solid;
	border-radius: 1rem;
	transition: all 0.4s;
}

.generateButton:hover {
	background-color: rgba(57, 247, 57, 0.763);
	color: #000000;
	font-weight: bold;
}

.image-container {
	width: 100%;
}

img {
	display: block;
	margin: auto;
}

.msg {
	font-size: 1.6rem;
	text-align: center;
	margin-top: 1rem;
	color: white;
}


/* Spinner From: https://codepen.io/tbrownvisuals/pen/edGYvx */
.spinner {
	position: fixed;
	z-index: 999;
	height: 2em;
	width: 2em;
	overflow: show;
	margin: auto;
	top: 0; left: 0; bottom: 0; right: 0;
	display: none;
}

.show { display: block; }

/* Transparent Overlay */
.spinner:before {
	content: '';
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: radial-gradient(rgba(20, 20, 20, 0.8), rgba(0, 0, 0, 0.8));

	background: -webkit-radial-gradient(rgba(20, 20, 20, 0.8),
			rgba(0, 0, 0, 0.8));
}

/* :not(:required) hides these rules from IE9 and below */
.spinner:not(:required) {
	/* hide "loading..." text */
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
}

.spinner:not(:required):after {
	content: '';
	display: block;
	font-size: 10px;
	width: 1em;
	height: 1em;
	margin-top: -0.5em;
	-webkit-animation: spinner 150ms infinite linear;
	-moz-animation: spinner 150ms infinite linear;
	-ms-animation: spinner 150ms infinite linear;
	-o-animation: spinner 150ms infinite linear;
	animation: spinner 150ms infinite linear;
	border-radius: 0.5em;
	-webkit-box-shadow: rgba(255, 255, 255, 0.75) 1.5em 0 0 0,
		rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0,
		rgba(255, 255, 255, 0.75) 0 1.5em 0 0,
		rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0,
		rgba(255, 255, 255, 0.75) -1.5em 0 0 0,
		rgba(255, 255, 255, 0.75) -1.1em -1.1em 0 0,
		rgba(255, 255, 255, 0.75) 0 -1.5em 0 0,
		rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0;
	box-shadow: rgba(255, 255, 255, 0.75) 1.5em 0 0 0,
		rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0,
		rgba(255, 255, 255, 0.75) 0 1.5em 0 0,
		rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0,
		rgba(255, 255, 255, 0.75) -1.5em 0 0 0,
		rgba(255, 255, 255, 0.75) -1.1em -1.1em 0 0,
		rgba(255, 255, 255, 0.75) 0 -1.5em 0 0,
		rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-moz-keyframes spinner {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-o-keyframes spinner {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes spinner {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}